.contact-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.contact-box{
  width: 600px;
}

.input-box,.message-input-box{
  display: block;
  padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}
.message-input-box{
  height: auto; /* Allow height to adjust based on content */
  min-height: 100px; /* Set a minimum height */
  resize: vertical; /* Allow vertical resizing */
  overflow: auto; /* Ensure content is scrollable if it exceeds the height */  
}
.input-box:focus
 {
  box-shadow: 0 3px 10px #110305;

    border-color: #110305;
    outline: none;
}
.message-input-box:focus
 {
    border-color: #110305;
    box-shadow: 0 3px 10px #110305;
    outline: none;

}
.message-button{
  margin-top: 22px;
height: 45px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 0px;
background-color: #003367;

  border-radius: 22px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 18px;
  color: white;
  font-weight: bold;
}
@media (max-width: 768px) {
  .contact-box {
    width: 100%; /* Ensure it takes full width */
  }

  .name-email {
    display: flex;
    flex-direction: column;
  }

  .input-box, .message-input-box {
    font-size: 14px; 
  }

  .message-button {
    font-size: 16px; 
    height: 40px; 
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  .contact-container {
    padding: 10px; 
  }

  .input-box, .message-input-box {
    padding: 15px; 
    font-size: 14px; 
  }

  .message-button {
    font-size: 14px; 
    height: 35px; 
  }
}