.project-container {
  padding: 50px;
  text-align: center;
}
.head-proj{
  padding: 10px;
  margin-bottom: 20px;
}
.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}
.my-proj {
  width: 100%; 
  max-width: 600px; 
  height: auto; 
  overflow: hidden; 
  position: relative; 
}

.my-proj:hover {
  transform: scale(1.05);
}

.proj-profile {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
  aspect-ratio: 16 / 9; 

}

.proj-description {
  padding: 20px;
  text-align: left;
}

.proj-description h2 {
  margin: 10px 0;
  font-size: 1.5em;
}

.proj-description p {
  font-size: 1em;
  color: #555;
}

.eye {
  background-color: #003367;

  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.eye:hover {
  background-color: #034180;

}
@media (max-width: 768px) {
  .my-proj {
    width: 100%; /* Full width on smaller screens */
    margin: 0; /* Reset margins */
  }

  .proj-profile {
    height: auto; /* Allow height to adjust */
  }
}
@media (max-width: 480px) {
  .project-container {
    padding: 20px;
    padding-top: 80px;
  }

  .project-grid {
    grid-template-columns: 1fr; /* Single column layout */
    grid-gap: 20px; /* Reduced gap between projects */
  }

  .my-proj {
    max-width: 100%; 
    margin-bottom: 20px;
  }

  .proj-description {
    padding: 10px;
  }

  .proj-description h2 {
    font-size: 1.2em; /* Slightly smaller font size */
  }

  .proj-description p {
    font-size: 0.9em; /* Slightly smaller font size */
  }

  .eye {
    padding: 8px 12px; 
    font-size: 0.9em;
    margin-top: 6px;
  }
}
